/*
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

.w-8 {
    width: 2rem;
}

.h-8 {
    width: 2rem;
}

.gridof3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* adjust as needed */
}

.hero_bannersection {
    background-image: url();
    background-position: 50%;
    background-repeat: no-repeat;
    height: fit-content;
    padding: 3rem;
    margin-top: 1.5rem;
    background-position: bottom;
    background-size: cover;
    border-radius: 1rem;
}

.searchbar {
    background-color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(48, 48, 48, 0.3), 0 1px 3px 1px rgba(48, 48, 48, 0.15);
    box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    padding: 0 1rem;
    width: 100%;
    -webkit-appearance: none;
}

.card {
    border: 0.0625rem solid #a9acaa;
    border-radius: 0.5rem;
    display: block;
    padding: 0 0.75rem;
}

.card:hover {
    box-shadow: 0 1px 3px 0 rgba(48, 48, 48, 0.3), 0 4px 8px 3px rgba(48, 48, 48, 0.15);
}

a.nav-link {
    font-weight: 500;
}

.sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 1020;
    padding: 2rem 0rem;
}
.pagelinks {
    background: #f0f0f0;
    border: 1px solid;
    border-radius: 101px;
    color: #333;
    padding: 2px 15px;
    text-decoration: none;
}

.message.user-message {
    background: #fff;
    padding: 15px;
    border-radius: 0;
    display: flex;
    gap: 10px;
    border-radius: 11px;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
}

.message.user-message {
    background: #fff;
    padding: 15px;
    border-radius: 0;
    display: flex;
    gap: 10px;
    border-radius: 11px;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
}

.message.bot-message {
    background: #fafafa;
    padding: 15px;
    border-radius: 0;
    display: flex;
    gap: 10px;
    border-radius: 11px;
    align-items: center;
}

button.copy-message {
    background: 0 0;
    border: none;
    float: right;
    color: #b3bcc6;
    height: fit-content;
    padding: 10px;
    border-radius: 26px;
    right: 10%;
    margin: auto;
    margin-top: 0;
}

.bg-light {
    background: #eff3f8 !important;
}

form.chatinput {
    display: flex;
    border-radius: 11px;
    border: 1px solid #3333;
    padding: 7px;
}


#embed_underarticle iframe {
    width: 100%;
    height: 500px;
}
#embed_abovefooter iframe {
    width: 100%;
    height: 500px;
}
#embed_underhero iframe {
    width: 100%;
    height: 500px;
}
#embed_leavingthepage_popup iframe {
    width: 100%;
    height: 500px;
}


.endchat {
}


#badcontent > svg:hover {
    color: #fff;
}

#badcontent:hover {
    background-color: #f44336;
    color: rgb(255 255 255);
}

#badcontent {
    background-color: rgb(245 247 249 / 37%);
    color: rgb(92, 105, 117);
}

#okcontent > svg:hover {
    color: #fff;
}

#okcontent:hover {
    background-color: rgb(185, 94, 4);
    color: rgb(255 255 255);
}

#okcontent {
    background-color: rgb(245 247 249 / 37%);
    color: rgb(92, 105, 117);
}

#nicecontent > svg:hover {
    color: #fff;
}

#nicecontent:hover {
    background-color: rgb(0, 136, 71);
    color: rgb(255 255 255);
}

#nicecontent {
    background-color: rgb(245 247 249 / 37%);
    color: rgb(92, 105, 117);
}

.list-group-item.active {
    z-index: 2;
    color: #212529;
    background-color: none;
    border-color: none;
    border-radius: 9px;
    background-color: rgba(57, 76, 96, 0.15);
    font-weight: 500;
    opacity: 100% !important;
}
.breadcrumb-item a {
    color: #90a0ac;
    text-decoration: none;
}

.listhome {
    display: none;
    padding: 3rem;
}

.articledata {
    display: none;
}

.maincontainer {
    box-shadow: 0 0 17px 11px #a9a9a94d;
    padding: 74px;
}

.heroimagearticle {
    height: 500px;
    object-fit: cover;
    box-shadow: 0px 0px 15px 6px #3333;
}

.category_tag {
    border: 1px solid #ff704d;
    color: #ff704d;
    background: none;
    background-color: #ff704d00;
    border-radius: 7px;
    padding: 2px 10px;
}

/* body.loading {
    background: #fff url();
    opacity: 0;
    position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background-position: center;
    background-size: 200px 200px !important;
    background-color: #ffffff !important;
} */

/* Medium devices (Tablets) */
@media (min-width: 370px) {
    h1 {
        font-size: 30px;
    }

    .hero_bannersection {
        height: 9rem;
        padding: 1rem;
        margin-top: 1.5rem;
    }

    .listhome {
        display: none;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        padding: 3rem;
    }

    .maincontainer {
        padding: 29px;
    }

    .heroimagearticle {
        height: 243px;
        width: 100%;
        margin-top: 2rem;
        object-fit: cover;
        box-shadow: 0px 0px 15px 6px #3333;
        padding: 9px;
    }

    ul.navbar-nav {
        gap: 0.5rem !important;
        margin-top: 2rem;
        border-bottom: 1px solid #3333;
        padding-bottom: 2rem;
    }

    footer.d-flex.flex-wrap.justify-content-between {
        justify-content: center !important;
    }
}

/* Medium devices (Tablets) */
@media (min-width: 768px) {
    h1 {
        font-size: 30px;
    }

    .hero_bannersection {
        height: 9rem;
        padding: 1rem;
        margin-top: 1.5rem;
    }

    .listhome {
        display: none;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        padding: 3rem;
    }

    .maincontainer {
        padding: 29px;
    }

    .heroimagearticle {
        height: 243px;
        width: 100%;
        margin-top: 2rem;
        object-fit: cover;
        box-shadow: 0px 0px 15px 6px #3333;
        padding: 9px;
    }
}

/* Large devices (Desktops & laptops) */
@media (min-width: 992px) {
    h1 {
        font-size: 36px;
    }

    .hero_bannersection {
        background-image: url();
        background-position: 50%;
        background-repeat: no-repeat;
        height: fit-content;
        padding: 3rem;
        margin-top: 1.5rem;
        background-position: bottom;
        background-size: cover;
        border-radius: 1rem;
    }
    ul.navbar-nav {
        border: none;
    }

    .sticky-navbar {
        position: sticky;
        top: 0;
        z-index: 1020;
        padding: 0rem 0rem;
    }

    .heroimagearticle {
        height: 500px;
        object-fit: cover;
        box-shadow: 0px 0px 15px 6px #3333;
    }

    .maincontainer {
        padding: 3rem;
        width: 90%;
        margin: auto;
    }

    footer.d-flex.flex-wrap.justify-content-between {
        justify-content: space-between !important;
    }
}

/* Extra-large devices (Large laptops and desktops) */
@media (min-width: 1200px) {
    h1 {
        font-size: 42px;
    }
}
